CREATE TABLE IF NOT EXISTS conversations (id INTEGER PRIMARY KEY, input_text TEXT, response_text TEXT); INSERT INTO conversations (input_text, response_text) VALUES ('你好', '你好'); INSERT INTO conversations (input_text, response_text) VALUES ('谢谢', '不客气'); INSERT INTO conversations (input_text, response_text) VALUES ('再见', '再见'); INSERT INTO conversations (input_text, response_text) VALUES ('你好吗', '我很好'); INSERT INTO conversations (input_text, response_text) VALUES ('喜欢', '谢谢');
